body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:380px;
  top:180px;
  width:850px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:1590px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:1590px;
}
#u3 {
  position:absolute;
  left:2px;
  top:787px;
  width:1420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:1420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:491px;
  top:15px;
  width:421px;
  height:34px;
  font-size:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:34px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:197px;
  top:102px;
  width:143px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:390px;
  top:102px;
  width:720px;
  height:30px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:1220px;
  top:1125px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:1100px;
  top:1125px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:390px;
  top:800px;
  width:830px;
  height:280px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:280px;
}
#u14 {
  position:absolute;
  left:2px;
  top:132px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:197px;
  top:170px;
  width:143px;
  height:30px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:149px;
  height:36px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:143px;
  height:40px;
  visibility:hidden;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:149px;
  height:46px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:20px;
  width:143px;
  height:20px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:390px;
  top:180px;
  width:830px;
  height:590px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:590px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:230px;
  top:0px;
  width:400px;
  height:589px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:589px;
}
#u27 {
  position:absolute;
  left:2px;
  top:286px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:590px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:178px;
  top:0px;
  width:130px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:359px;
  top:0px;
  width:130px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:540px;
  top:0px;
  width:290px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:180px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:180px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:178px;
  top:30px;
  width:130px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:178px;
  top:60px;
  width:130px;
  height:60px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:178px;
  top:120px;
  width:130px;
  height:90px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:359px;
  top:30px;
  width:130px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:359px;
  top:60px;
  width:130px;
  height:30px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:359px;
  top:90px;
  width:130px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:130px;
  top:0px;
  width:50px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:130px;
  top:30px;
  width:50px;
  height:180px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:180px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:359px;
  top:120px;
  width:130px;
  height:30px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:359px;
  top:150px;
  width:130px;
  height:30px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:359px;
  top:180px;
  width:130px;
  height:30px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:308px;
  top:0px;
  width:52px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:487px;
  top:0px;
  width:53px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:308px;
  top:30px;
  width:52px;
  height:30px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54 {
  position:absolute;
  left:308px;
  top:60px;
  width:52px;
  height:60px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:60px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:308px;
  top:120px;
  width:52px;
  height:90px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:90px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:489px;
  top:30px;
  width:51px;
  height:30px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57 {
  position:absolute;
  left:489px;
  top:60px;
  width:51px;
  height:30px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:489px;
  top:90px;
  width:51px;
  height:30px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:489px;
  top:120px;
  width:51px;
  height:30px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:489px;
  top:150px;
  width:51px;
  height:30px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:540px;
  top:30px;
  width:290px;
  height:30px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:540px;
  top:60px;
  width:290px;
  height:30px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:540px;
  top:90px;
  width:290px;
  height:30px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:540px;
  top:120px;
  width:290px;
  height:30px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:540px;
  top:150px;
  width:290px;
  height:30px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:540px;
  top:180px;
  width:290px;
  height:30px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:489px;
  top:180px;
  width:51px;
  height:30px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:100px;
  top:0px;
  width:30px;
  height:30px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC3300;
  text-align:center;
}
#u69 {
  position:absolute;
  left:278px;
  top:0px;
  width:30px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC3300;
  text-align:center;
}
#u70 {
  position:absolute;
  left:457px;
  top:0px;
  width:30px;
  height:30px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC3300;
  text-align:center;
}
#u71 {
  position:absolute;
  left:800px;
  top:0px;
  width:30px;
  height:30px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC3300;
  text-align:center;
}
#u72 {
  position:absolute;
  left:178px;
  top:210px;
  width:130px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:359px;
  top:210px;
  width:130px;
  height:30px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:540px;
  top:210px;
  width:290px;
  height:30px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:0px;
  top:210px;
  width:130px;
  height:130px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:197px;
  top:800px;
  width:143px;
  height:30px;
}
#u76_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:149px;
  height:36px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:143px;
  height:40px;
  visibility:hidden;
}
#u80_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:149px;
  height:46px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:20px;
  width:143px;
  height:20px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:390px;
  top:800px;
  width:830px;
  height:280px;
  overflow:hidden;
}
#u86_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:80px;
  top:20px;
  width:310px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:390px;
  top:20px;
  width:280px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:80px;
  top:50px;
  width:310px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:390px;
  top:50px;
  width:280px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:80px;
  top:80px;
  width:310px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:390px;
  top:80px;
  width:280px;
  height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:80px;
  top:110px;
  width:310px;
  height:30px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:390px;
  top:110px;
  width:280px;
  height:30px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
